[Desktop Entry]
Name=MPlayer
Comment=The Movie Player for Linux
Comment[pl]=Odtwarzacz filmów pod Linuxa
Exec=gmplayer -nofs
Icon=mplayer.png
Terminal=0
Type=Application
MimeType=video/x-msvideo;video/mpeg;video/x-wmv
# vi: encoding=utf-8
